@-webkit-keyframes rotate-forever {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes rotate-forever {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate-forever {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* spinner */
.loading-spinner-active .loading-spinner {
  -moz-animation-duration: 0.75s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-name: rotate-forever;
  -moz-animation-timing-function: linear;
  -webkit-animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-name: rotate-forever;
  animation-timing-function: linear;
  border: 5px solid rgba(0, 0, 0, 0.7);
  border-bottom: 5px solid rgba(0, 0, 0, 0.75);
  border-left: 5px solid rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  border-right: 5px solid rgba(0, 0, 0, 0.75);
  border-right-color: transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.25);
  display: inline-block;
  height: 50px;
  width: 50px; }
  .loading-spinner-active .loading-spinner:after {
    border-radius: 50%;
    height: 30px;
    width: 30px; }

.loading-spinner {
  border: 8px solid #ffffff;
  border-radius: 50%;
  border-right-color: transparent;
  height: 50px;
  left: 50%;
  margin: -15px 0 0 -15px;
  position: absolute;
  top: 50%;
  width: 50px;
  z-index: 1; }

/* container */
loading-spinner.loading-spinner-active-remove {
  transition: all 750ms ease-in; }

.loading-spinner-container {
  background-color: rgba(255, 255, 255, 0.85);
  height: 100%;
  left: -9999999px;
  min-height: 70px;
  min-width: 70px;
  opacity: 0;
  position: absolute;
  top: -9999999px;
  transition: opacity 500ms ease-in;
  width: 100%;
  z-index: 1; }

.loading-spinner-active .loading-spinner-container, .loading-spinner-active-add .loading-spinner-container, .loading-spinner-active-add-active .loading-spinner-container {
  left: 0;
  opacity: 1;
  top: 0; }

.loading-spinner-active-remove .loading-spinner-container, .loading-spinner-active-remove-active .loading-spinner-container {
  left: 0;
  opacity: 0;
  top: 0; }

/* content */
.loading-spinner-content {
  position: relative; }

.main-content {
  padding: 30px 15px; }

.border-bottom-2 {
  border-bottom-width: 2px !important; }

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05); }

.products .card-img-top {
  height: 225px; }

.product-detail .images {
  overflow-y: auto;
  max-height: 500px; }

.navbar-nav .nav-item a.my-cart .fa {
  font-size: 25px; }

.navbar-nav .nav-item a.my-cart .orders-count {
  top: -20px !important;
  font-size: 1.5em; }

.wrap {
  width: 26.4%;
  margin: 0 auto; }
  .wrap > .login-row {
    text-align: center;
    margin: 0px auto;
    padding-top: 30px;
    width: 413px; }
    .wrap > .login-row .tab.style-1 {
      box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.28);
      border: 0px solid #eee;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -o-border-radius: 5px; }
      .wrap > .login-row .tab.style-1 > dl {
        display: block;
        margin: 0;
        padding: 0;
        height: 38px;
        border-radius: 5px; }
        .wrap > .login-row .tab.style-1 > dl > dd {
          display: block;
          width: 50%;
          height: 38px;
          padding: 0;
          float: left;
          margin-left: 0px;
          transition: 0.5s ease;
          -o-transition: 0.5s ease; }
          .wrap > .login-row .tab.style-1 > dl > dd > a {
            display: block;
            width: auto;
            height: 45px;
            padding: 9px 85.3px 0px;
            line-height: 38px;
            margin: 0 -1px 0 0;
            color: #666;
            background: #eee;
            text-decoration: none;
            transition: 0.5s ease;
            -o-transition: 0.5s ease; }
          .wrap > .login-row .tab.style-1 > dl > dd > a.active {
            background: #007bff;
            height: 45px;
            color: #f8f9fa;
            border-bottom-color: rgba(255, 255, 255, 0); }
          .wrap > .login-row .tab.style-1 > dl > dd > a:hover {
            cursor: pointer; }
      .wrap > .login-row .tab.style-1 > ul {
        display: block;
        margin: 0;
        padding: 22px;
        background: #f8f9fa;
        text-align: left; }
        .wrap > .login-row .tab.style-1 > ul > li {
          display: none; }
          .wrap > .login-row .tab.style-1 > ul > li .form-group {
            margin: 30px 10px; }
          .wrap > .login-row .tab.style-1 > ul > li .form-actions {
            margin: 0px 10px; }
            .wrap > .login-row .tab.style-1 > ul > li .form-actions > button {
              width: 100%;
              padding: 0.7em 0.9em;
              font-size: 1.1em;
              font-weight: bold; }
        .wrap > .login-row .tab.style-1 > ul > li.active {
          display: block; }
        .wrap > .login-row .tab.style-1 > ul > li.progress-icon {
          display: block; }
          .wrap > .login-row .tab.style-1 > ul > li.progress-icon > ui-progress i {
            margin-top: 20px; }

/*-----start-responsive-design------*/
@media only screen and (max-width: 1366px) {
  .wrap {
    width: 95%; } }

@media only screen and (max-width: 1280px) {
  .wrap {
    width: 95%; } }

@media only screen and (max-width: 1024px) {
  .wrap {
    width: 95%; } }

@media only screen and (max-width: 800px) {
  .wrap {
    width: 95%; } }

@media only screen and (max-width: 640px) {
  .wrap {
    width: 95%; } }

@media only screen and (max-width: 480px) {
  .wrap {
    width: 95%; }
  .login-row {
    width: 361px; }
  .form-control input[type="text"] {
    width: 273px; }
  .form-control input[type="submit"] {
    width: 302px; }
  .top-grid2 {
    width: 78%; } }

@media only screen and (max-width: 320px) {
  .wrap {
    width: 95%; }
  .login-row {
    width: 260px; }
  .form-control input[type="text"] {
    width: 169px; }
  .form-control input[type="submit"] {
    width: 198px; }
  .top-grid2 {
    margin-left: 9px;
    width: 69%; } }

